* {
    background-color: yellow;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.head h1 {
    font-size: 40px;
    text-align: center;
    padding: 20px 0;
}

.head img {
    padding-bottom: 20px;
    width: 70%;
    margin: 0 15%;
}

h2 {
    text-align: center;
}