* {
    background-color: rgb(255, 115, 0);
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Courier New', Courier, monospace;
}

.head h1 {
    font-size: 40px;
    text-align: center;
    padding: 20px 0;
}

.head img {
    padding-bottom: 20px;
    width: 70%;
    margin: 0 25%;
}

.abt p {
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

.li {
    height: 100px;
    overflow: auto;
    width: 30%;
    margin: 20px auto;
}

.li li {
    background-color: grey;
}

.list {
    width: 30%;
    margin: 20px auto;
}

.list li {
    border-bottom: 1px solid grey;
    padding-left: 10px;
}

.list li a {
    text-decoration: none;
    padding-left: 10px;
}

h2 {
    text-align: center;
    font-size: 40px;
    border-bottom: 5px solid black;
    width: 40%;
    margin: 0 auto;
}

.bio {
    width: 90%;
}

.bio img {
    width: 20%;
    padding: 20px;
    margin: 0 40%;
}

.bio p,
.bio h4 {
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

.fb {
    display: flex;
    justify-content: center;
}

.fb li a {
    list-style-type: none;
}

.fb li a img {
    padding-right: 10px;
    padding-left: 10px;
    background-color: green;
}